@import "~bootstrap/scss/bootstrap";

.container {
  color: yellow;
  border: 1px solid green;

  .row {
    & > * {
      &:nth-child(2n) {
        background: green;
        border: 1px solid green;
      }

      &:nth-child(2n + 1) {
        background: blue;
        border: 1px solid blue;
      }
    }
  }
}

